@import "../scss/colors.scss";

.header {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 200px;

    justify-items: center;

    width:  calc(100% - 2*$border_width);
    height: 100px;

    background-color: $c50;


    align-items: center;
    border-radius: 25px;
    border-width: $border_width;
    border-color:  $c600 ;
    border-style: solid;
}



.textLogo {
    display: flex;
    color: $c900;
    font-family: $font_family;
    font-size: $font_size_h1;

    
    
}

.userBox {
    color: $c900;
    
    font-family: $font_family;
    font-size: $font_size_h1;

    
}