@import "../scss/colors.scss";

.header {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 200px;

    justify-items: center;

    width:  calc(100% - 2*$border_width);
    height: 100px;

    background-color: $c50;


    border-radius: 25px;
    border-width: $border_width;
    border-color:  $c600 ;
    border-style: solid;
}



.textLogo {
    display: flex;
    color: $c900;
    font: 2em $font;
    
    
    vertical-align: middle;
    // align-content: center;
}

.userBox {
    color: $c900;
    font: 2em $font;
}