@import "../src/scss/colors.scss";

.Authorization {
  // center
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 30px;

  display: grid;
  gap: 10px;
  // grid-template-columns: 1fr;

  grid-template-areas:
    "A"
    "B"
    "C"
    "D";

  // // grid-template-rows: 1fr 1fr 1fr;
  align-items: center;

  width: calc(600px - 2 * $border_width);
  // height: calc(400px - 2*$border_width);
  height: auto;
  background-color: $c50;

  border-radius: 25px;
  border-width: $border_width;
  border-color: $c600;
  border-style: solid;
}

.text {
  text-align: center;

  font-family: $font_family;
  font-size: $font_size_h1;
  margin: 0 auto;

  grid-area: A;
}

.Login {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px auto;

  grid-area: B;
}

.Password {
  display: grid;
  gap: 10px;
  grid-template-columns: 100px auto;

  grid-area: C;
}

.Button__place {
  // margin-right: 30px;
  grid-area: D;

  // height: 140px;

  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 20px;
}



