@import "./../../src/scss/colors.scss";

.ConfiguratorPreviewAPIs {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);

  // position: relative;
  // left: 50%;
  // top: 50%;
  // top: 20%;
  // right: 0;
  // left: 0;
  justify-content:space-between;
  // gap: 20px;
  position: relative;
  top: 40px;
  // width: 100px;

  // padding: 8px;
  // margin-bottom: 8px;
  // border-radius: 2px;
  
  // gap: 10px;

  width: calc(100% - 2 * $border_width);
  // height: 150px;

  background-color: $c100;

  // margin: 0px;
  // padding: 0px;



  border-radius: 25px;
  border-width: $border_width;
  border-color: $c600;
  border-style: solid;

}
