@import "../../../src/scss/colors.scss";

.TabPanel {
    position:relative;
    min-width: 150px;
    height: 40px;
    display:inline-block;
    
    margin-bottom: 0px;
    margin-top: auto;
    bottom: 2px;
    top: auto;
    left: 6vw;

}


.text {
    padding: 5px;

    color: $c900;
    font-family: $font_family;
    font-size: $font_size_h2;
    
}