@import "./../../../../src/scss/colors.scss";

.APIsContainer {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: $c50;

  min-height: 300px;

  border-radius: 25px;
  border-width: $border_width;
  border-color: $c600;
  border-style: solid;
}

h2 {
  font-family: $font_family;
  font-size: $font_size_h1;
  text-align: center;
}

// /* полоса прокрутки (скроллбар) */
// ::-webkit-scrollbar {
//   width: 6px; /* ширина для вертикального скролла */
//   height: 8px; /* высота для горизонтального скролла */
//   background-color: #CD4F4F;
// }

// /* ползунок скроллбара */
// ::-webkit-scrollbar-thumb {
//   background-color:#E6C3C3;
//   border-radius: 2em;
//   /* box-shadow: inset 1px 1px 10px #f3faf7; */
// }

// ::-webkit-scrollbar-thumb:hover {
//   /* background-color: #54847B; */
//   background-color: #444;
// }
