// $c50:  #f3e5f5;
// $c100: #e1bee7;
// $c200:  #ce93d8;
// $c300:  #ba68c8;
// $c400:  #ab47bc;
// $c500:  #9c27b0;
// $c600:  #8e24aa;
// $c700:  #7b1fa2;
// $c800:  #6a1b9a;
// $c900:  #4a148c;
// $cA100: #ea80fc;
// $cA200: #e040fb;
// $cA400: #d500f9;
// $cA700: #aa00ff;



$c1: #6FB98F;
$c2: #2C7873;
$c3: #004445;
$c4: #021C1E;



$c50: #e0f2f1;
$c100: #b2dfdb;
$c200: #80cbc4;
$c300: #4db6ac;
$c400: #26a69a;
$c500: #009688;
$c600: #00897b;
$c700: #00796b;
$c800: #00695c;
$c900: #004d40;
$cA100: #a7ffeb;
$cA200: #64ffda;
$cA400: #1de9b6;
$cA700: #00bfa5;




$font: arial;

$border_width: 4px;